.movie-card-component{
    width: 300px;
    background-color: rgb(247, 247, 247);
    display: inline-block;
    margin: auto;
    margin: 20px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.movie-card-component:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.459);
}
.img-container{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.img-container img{
    width: 100%;
}
.details-container{
    text-align: center;
}
p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    
}